**/ecModels.zip
**/ecModels/**
/Manifest.toml

**/main.pdf
**/*.aux
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/main.log
**/page.log
**/main.out
**/*.run.xml
**/*main.synctex.gz
**/main.toc
**/main.bbl